@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
}

.nav-link:hover {
  background-color: #59656F;
  border-radius: 5px;
  color: #fff !important;
}

/* Hero Image */
#hero_image {
  background-image: url(/assets/images/i_want_to_Believe_1.jpg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}

/* Location Search & Password Input  */
/* #location_search_input,
#password_search_input {
  background-color: #59656F;
  color: #fff;
} */

/* Alien Head */
#alien_head {
  height: 25px !important;
}

#ufo_search_button:hover {
  /* background-color: #29BF12; */
  background-color: #59656F;
  color: #fff !important;
}

/* UFO Search Button Image*/
#ufo_search_button_image {
  height: 40px !important;
}

#github_link {
  text-decoration: none;
  color: black;
}