@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
}

#hero_image {
  background-image: url(/assets/images/i_want_to_Believe_1.jpg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}