/* Global */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  /* font-family: 'Special Elite', cursive; */
  overflow-x: hidden;
}

.generic_grey_text {
  color: rgba(0, 0, 0, .55);
}

#about_section, 
#contact_us_div,
#ufo_search_content,
#subscribe_div,
#faq_section,
#terms_of_use_section {
  max-height: calc(100vh - 100px) !important;
}

/* Navbar */
.navbar-brand {
  color: rgba(0, 0, 0, .55) !important;
}

/* CSS for navbar background color change on scroll */
.navbar-brand-about,
.navbar-brand-search,
.navbar-brand-footage,
.navbar-brand-images,
.nav-link-about,
.nav-link-search,
.nav-link-footage,
.nav-link-images,
.fa-bars:before {
  color: #fff !important;
}

.fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 750ms linear !important;
}

.fixed-top.scrolled .nav-link {
  color: rgba(0, 0, 0, .55) !important;
}

.fixed-top.scrolled .navbar-brand-about {
  color: rgba(0, 0, 0, .55) !important;
}

.fixed-top.scrolled .navbar-brand-search {
  color: rgba(0, 0, 0, .55) !important;
}

.fixed-top.scrolled .navbar-brand-footage {
  color: rgba(0, 0, 0, .55) !important;
}

.fixed-top.scrolled .navbar-brand-images {
  color: rgba(0, 0, 0, .55) !important;
}

.fixed-top.scrolled .fa-bars:before {
  color: rgba(0, 0, 0, .55) !important;
}

.nav-link {
  font-size: 18px;
}

.link {
  color: #fdc33a;
  font-size: 18px;
  text-decoration: none;
}

.link:hover {
  color: #fdc33a;
}

/* Navlink Animation Effect */
/* Code credit goes to - https://www.30secondsofcode.org/css/s/hover-underline-animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: rgba(0, 0, 0, .55);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .55);
  transform-origin: bottom right;
  transition: transform 0.50s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Navbar blur effect on mobile */
.navbar-blur {
  color: rgba(255, 255, 255, .15) !important;
  backdrop-filter: blur(3px) !important;
}
.disabled {
  pointer-events: none;
}

/* Navbar text colour on blur */
.navbar-text {
  color: #fff !important;
}

/* Contact us navbar text colour on blur */
.navbar-text-contact-us {
  color: rgba(0, 0, 0, .55) !important;
}

/* Hero Image Index.html Page*/
#hero_image {
  background-image: url(/assets/images/i_want_to_Believe_1.jpg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}

#ufo_search_button {
  background-color: #59656F;
  background-color: transparent;
  color: #fff !important;
}

#ufo_search_button:hover {
  background-color: #fff;
  color: #000 !important;
}

/* UFO Search Button Image*/
#ufo_search_button_image {
  height: 40px !important;
}

/* Search section scroll media query */
@media screen and (max-height: 430px) {
  #search_content_div {
    overflow-y: scroll !important;
  }
}

/* About Us Page */
/* Hero Image */
#hero_image_about_us {
  background-image: url(/assets/images/about_us.jpg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}

#about_us_content {
  padding-bottom: 30% !important;
}

#about_us_text {
  font-size: 20px;
}

/* About us section scroll media query */
@media screen and (max-height: 570px) {
  #about_section {
    overflow-y: scroll !important;
  }
}

/* UFO Search Page*/
/* Hero Image UFO Search Page*/
#hero_image_ufo_search {
  background-image: url(/assets/images/ufo_search.jpg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}

/* UFO Search Page*/
/* Hero Image UFO Search Page*/
/* #hero_image_ufo_search {
  background-image: url(/assets/images/about_us.jpg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

#ufo_search_content {
  padding-bottom: 25% !important;
  padding-top: 80px;
}

/* Search Results Page */
#search_results_section {
  padding-top: 80px !important;
}

#donate_img {
  width: 20px !important;
}

.accordion-button:not(.collapsed) {
  background-color: #fff !important;
  color: #000 !important;
}

.map_button {
  color: #000;
}

/* UFO Footage Page */
/* Video Player */
#my-video {
  width: 100%;
  font-size: 12px;
  height: 375px;
}

#my-video:hover {
  border: 1px solid white;
}

/* Video Play Button */
.vjs-big-play-button {
  top: 45% !important;
  left: 50% !important;
  transform: translate(-50%) !important;
  width: 4rem !important;
}

#video_footage_section {
  padding-top: 80px;
  background-image: url(/assets/images/ufo_video_background.jpg);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* UFO Images page */
#ufo_image_section {
  background-image: url(/assets/images/ufo_images_background_2.jpg);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#photo_gallery_section {
  padding-top: 80px;
}

.gallery-block {
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block .heading {
  margin-bottom: 50px;
  text-align: center;
}

.gallery-block .heading h2 {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold;
}

.gallery-block.cards-gallery .card {
  transition: 0.4s easy;
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-block.cards-gallery .card-body {
  text-align: center;
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px;
}

.gallery-block.cards-gallery a {
  color: #212529;
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none;
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

  .gallery-block .transform-on-hover:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}

.card-img-top {
  max-height: 202px;
  min-height: 201px;
}

.card-body {
  min-height: 130px;
}

/* UFO Reports */
#ufo_reports_section {
  padding-top: 80px;
}

.link_to_full_report:hover {
  color: #3cd070 !important;
}

/* UFO News Page */
#news_item {
  background-color: rgba(255, 255, 255, .15) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 2px 40px 2px 40px;
  padding: 20px;
}

.news_link {
  color: #fdc33a;
}

.news_link:hover {
  color: #fdc33a;
}

/* Contact Us Page */
/* Hero Image Contact Us Page*/
#hero_image_contact_us {
  background-image: url(/assets/images/contact_us_new.jpg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact_us_send_button {
  background-color: #fff;
}

.contact_us_bars::before {
  color: rgba(0, 0, 0, .55) !important;
}

/* Contact us section scroll media query */
@media screen and (max-height: 570px) {
  #contact_us_div {
    overflow-y: scroll !important;
  }
}

/* FAQ Page */
/* Hero Image Index.html Page*/
#hero_image_faq {
  background-image: url(/assets/images/ufo_images_background_2.jpg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}

#faq_section {
  overflow-y: scroll;
}

/* Terms of use */
#terms_of_use_section {
  overflow-y: scroll;
}

/* Subscribe Page */
#subscribe_section {
  padding-top: 80px;
  background-image: url(/assets/images/subscribe_image.jpg);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 434px) {
  #subscribe_section {
    height: 100vh;
  }
}

@media screen and (max-height: 800px) {
  #subscribe {
    overflow-y: scroll !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
  /* background: #fdc33a; */
}

/* ::-webkit-scrollbar-track {
  background: #212529;
} */

/* ::-webkit-scrollbar-thumb {
  background: #fdc33a;
} */

/* Footer */
.github_link {
  text-decoration: none;
  color: rgba(0, 0, 0, .55);
}

.github_link:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, .55);
}

.footer-text {
  color: rgba(0, 0, 0, .55);
}

